/*
  input boxes
  buttons
*/
body{
  background-color: #E6ECF0
}
#header-container{
  /* background-image: url('../beerfoam.png'); */
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.header-text{ 
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 75px;
  padding-top: 110px;
  background-color: #4AB3F4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
} 

#addBeerButton{
  color: white;
  background-color:#4AB3F4;
  border: none;
  margin-bottom: 10px;
}
#addBeerButton:focus{
  outline:none;
}
.deleteBeerButton{
  border-radius: 80%;  
}
